.box {
  display: flex;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-baseline {
  align-items: baseline;
}

.align-stretch {
  align-items: stretch;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-center {
  align-content: center;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-around {
  align-content: space-around;
}

.align-content-stretch {
  align-content: stretch;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-center {
  align-self: center;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-stretch {
  align-self: stretch;
}

.direction-row {
  flex-direction: row;
}

.direction-column {
  flex-direction: column;
}

.direction-row.reverse-true {
  flex-direction: row-reverse;
}

.direction-column.reverse-true {
  flex-direction: column-reverse;
}

.flex-true {
  flex: 1 1 auto;
  min-width: 0;
  overflow: auto;
}

.flex-false {
  flex: 0 0 auto;
}

.flex-grow {
  flex: 1 0 auto;
  min-width: 0;
}

.flex-shrink {
  flex: 0 1 auto;
}

.full-true {
  position: relative;
  height: 100vh;
  max-height: 100%;
  overflow: auto;
}

.full-horizontal {
  max-width: 100%;
  width: 100vw;
}

.full-vertical {
  height: 100vh;
  max-height: 100%;
  overflow: auto;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-end {
  justify-content: flex-end;
}

.margin-none {
  margin: 0;
}

.margin-horizontal-none {
  margin-left: 0;
  margin-right: 0;
}

.margin-vertical-none {
  margin-top: 0;
  margin-bottom: 0;
}

.margin-top-none {
  margin-top: 0;
}

.margin-right-none {
  margin-right: 0;
}

.margin-bottom-none {
  margin-bottom: 0;
}

.margin-left-none {
  margin-left: 0;
}

.margin-small {
  margin: 0.5rem;
}

.margin-horizontal-small {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.margin-vertical-none {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.margin-top-small {
  margin-top: 0.5rem;
}

.margin-right-small {
  margin-right: 0.5rem;
}

.margin-bottom-small {
  margin-bottom: 0.5rem;
}

.margin-left-small {
  margin-left: 0.5rem;
}

.margin-medium {
  margin: 1rem;
}

.margin-horizontal-medium {
  margin-left: 1rem;
  margin-right: 1rem;
}

.margin-vertical-medium {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.margin-top-medium {
  margin-top: 1rem;
}

.margin-right-medium {
  margin-right: 1rem;
}

.margin-bottom-medium {
  margin-bottom: 1rem;
}

.margin-left-medium {
  margin-left: 1rem;
}

.margin-large {
  margin: 2rem;
}

.margin-horizontal-large {
  margin-left: 2rem;
  margin-right: 2rem;
}

.margin-vertical-large {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.margin-top-large {
  margin-top: 2rem;
}

.margin-right-large {
  margin-right: 2rem;
}

.margin-bottom-large {
  margin-bottom: 2rem;
}

.margin-left-large {
  margin-left: 2rem;
}

.margin-xlarge {
  margin: 3.5rem;
}

.margin-horizontal-xlarge {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

.margin-vertical-xlarge {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.margin-top-xlarge {
  margin-top: 3.5rem;
}

.margin-right-xlarge {
  margin-right: 3.5rem;
}

.margin-bottom-xlarge {
  margin-bottom: 3.5rem;
}

.margin-left-xlarge {
  margin-left: 3.5rem;
}

.margin-huge {
  margin: 5rem;
}

.margin-horizontal-huge {
  margin-left: 5rem;
  margin-right: 5rem;
}

.margin-vertical-huge {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.margin-top-huge {
  margin-top: 5rem;
}

.margin-right-huge {
  margin-right: 5rem;
}

.margin-bottom-huge {
  margin-bottom: 5rem;
}

.margin-left-huge {
  margin-left: 5rem;
}

.pad-none {
  padding: 0;
}

.pad-horizontal-none {
  padding-left: 0;
  padding-right: 0;
}

.pad-vertical-none {
  padding-top: 0;
  padding-bottom: 0;
}

.pad-top-none {
  padding-top: 0;
}

.pad-right-none {
  padding-right: 0;
}

.pad-bottom-none {
  padding-bottom: 0;
}

.pad-left-none {
  padding-left: 0;
}

.pad-small {
  padding: 0.5rem;
}

.pad-horizontal-small {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.pad-vertical-none {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pad-top-small {
  padding-top: 0.5rem;
}

.pad-right-small {
  padding-right: 0.5rem;
}

.pad-bottom-small {
  padding-bottom: 0.5rem;
}

.pad-left-small {
  padding-left: 0.5rem;
}

.pad-medium {
  padding: 1rem;
}

.pad-horizontal-medium {
  padding-left: 1rem;
  padding-right: 1rem;
}

.pad-vertical-medium {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pad-top-medium {
  padding-top: 1rem;
}

.pad-right-medium {
  padding-right: 1rem;
}

.pad-bottom-medium {
  padding-bottom: 1rem;
}

.pad-left-medium {
  padding-left: 1rem;
}

.pad-large {
  padding: 2rem;
}

.pad-horizontal-large {
  padding-left: 2rem;
  padding-right: 2rem;
}

.pad-vertical-large {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pad-top-large {
  padding-top: 2rem;
}

.pad-right-large {
  padding-right: 2rem;
}

.pad-bottom-large {
  padding-bottom: 2rem;
}

.pad-left-large {
  padding-left: 2rem;
}

.pad-xlarge {
  padding: 3.5rem;
}

.pad-horizontal-xlarge {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.pad-vertical-xlarge {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.pad-top-xlarge {
  padding-top: 3.5rem;
}

.pad-right-xlarge {
  padding-right: 3.5rem;
}

.pad-bottom-xlarge {
  padding-bottom: 3.5rem;
}

.pad-left-xlarge {
  padding-left: 3.5rem;
}

.pad-huge {
  padding: 5rem;
}

.pad-horizontal-huge {
  padding-left: 5rem;
  padding-right: 5rem;
}

.pad-vertical-huge {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.pad-top-huge {
  padding-top: 5rem;
}

.pad-right-huge {
  padding-right: 5rem;
}

.pad-bottom-huge {
  padding-bottom: 5rem;
}

.pad-left-huge {
  padding-left: 5rem;
}

.pad-between-small > :not(:last-child) {
  margin-right: 0.5rem;
}

.pad-between-medium > :not(:last-child) {
  margin-right: 1rem;
}

.pad-between-large > :not(:last-child) {
  margin-right: 2rem;
}

.pad-between-xlarge > :not(:last-child) {
  margin-right: 3.5rem;
}

.pad-between-huge > :not(:last-child) {
  margin-right: 5rem;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.separator-top {
  border-top: 1px solid white;
}

.separator-bottom {
  border-bottom: 1px solid white;
}

.separator-left {
  border-left: 1px solid white;
}

.separator-right {
  border-right: 1px solid white;
}

.separator-horizontal {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.separator-vertical {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.separator-all {
  border: 1px solid white;
}

.separator-none {
  border: none;
}

@media screen and (max-width: 480px) {
  .full-true .full-vertical {
    min-height: 100vh;
    height: 100%;
  }

  .direction-row {
    flex-direction: column;
  }

  .reverse-true {
    flex-direction: column-reverse;
  }

  .responsive-true {
    align-items: stretch;
  }

  .direction-row > :not(:last-child) {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  .direction-row > :not(:last-child) {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .direction-row > :not(:last-child) {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}
