.overlay {
  position: absolute;
  overflow: auto;
  top: 0px;
  width: 100%;
  height: 100vh;
  box-shadow: inset 0 0 50vw 10vw black;
}

.overlayText {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -37%, 0);
  text-transform: uppercase;
}

.overlayTitle {
  font-weight: 700;
  font-size: 10vw;
  line-height: 0.9em;
  margin: 0;
}

.overlaySubtitle {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 3vw;
  line-height: 0.9em;
  margin: 0 0.25em;
}

.overlaySubSubtitle {
  font-weight: 600;
  font-size: 2vw;
  margin: 0.5em 0.5em;
}

.overlaySubSubtitle a {
  margin-right: 0.5em;
}

.overlaySubSubtitle a::before {
  display: none;
}

@media (max-width: 480px) {
  .overlayTitle {
    font-weight: 700;
    font-size: 50;
    line-height: 0.9em;
    margin: 0;
  }

  .overlaySubtitle {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    font-size: 20;
    margin: 1em 0;
  }

  .overlaySubtitle a {
    margin: 0.35em 0;
  }

  .overlaySubSubtitle {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    font-size: 20;
  }

  .overlaySubSubtitle a {
    margin-right: 1em;
  }
}
